<p>
  eat-main works!
</p>

<!--<div class="eat_div">-->
<!--<div class="eat_place_map_container">-->
  <!--<div class="eat_place_map">-->
    <!--<app-eat-place-map-2014></app-eat-place-map-2014>-->
  <!--</div>-->
  <!--<div class="eat_place_map">-->
    <!--<app-eat-place-map></app-eat-place-map>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="eat_div">
<app-eat-place-type-compare></app-eat-place-type-compare>
</div>


<app-eat-baby-milk></app-eat-baby-milk>

<app-eat-vegemarket-map></app-eat-vegemarket-map>
<app-eat-vegemarket-map-2014></app-eat-vegemarket-map-2014>
