<div style="width: 100%;text-align: left;padding:30px 0 30px 0;font-size: 30px;color:#07bbc3;;background-color:rgba(0,0,0,0.9);">
  <span style="color: #ec407a">天池</span>南海政务-居民生活
  <div style="position: absolute;right: 50px;top:27px;display: inline">
    <span style="margin:0 20px;font-size: 20px">
      <span routerLink="/eat" style="margin: 0 20px;cursor: pointer;" routerLinkActive="routerLinkClass"  [routerLinkActiveOptions]="{ exact: true }">南海-食</span>
      <span routerLink="/travel" style="margin:0 20px;cursor: pointer;" routerLinkActive="routerLinkClass">南海-行</span>
    </span>
  </div>
</div>
<div style="width: 100%;background-color: rgba(14, 15, 45, 0.9)">
<div style="width: 1500px;margin:0 auto;">
<router-outlet></router-outlet>
</div>
</div>
