<div style="margin: 0 auto;width: 100%;height: 500px">
  <div style="height: 50px;width: 100%;line-height: 50px;font-size: 25px;color: #fff">
    公交、自行车<span style="color:#d94e5d">覆盖</span>
  </div>

<div class="travel-bicycle-container">
<svg #svg>
  <g class="bicycle"></g>
</svg>
</div>


<div class="between-container">
  <div class="screenLegend plotArea">
    <div class="legendTitle">图例</div>
    <div class="legendArea">
      <div class="legendEle">
        <div class="legendPlot">
          <svg height="25px" width="40px">
            <rect width="40" height="25" fill="#118AB2"></rect>
          </svg>
        </div>
        <div class="legendText">人口总数</div>
      </div>

      <div class="legendEle">
        <div class="legendPlot">
          <svg height="25px" width="40px">
            <rect width="40" height="25" fill="#06D6A0"></rect>
          </svg>
        </div>
        <div class="legendText">公交站点数</div>
      </div>

      <div class="legendEle">
        <div class="legendPlot">
          <svg height="25px" width="40px">
            <rect width="40" height="25" fill="#EF476F"></rect>
          </svg>
        </div>
        <div class="legendText">公共自行车站点数</div>
      </div>



    </div>
  </div>
</div>



<div class="compare-pie-container">
  <div class="main-title" style="color:#d94e5d;margin-bottom: 30px;font-size: 22px;">
    对比分析
  </div>

  <div class="main-plot-container">
    <div class="plot-title">
      桂城街道
    </div>
    <div class="plot-area">
      <div style="margin: 0 auto;width: 180px;">
      <div #echart1 style="width: 180px;height: 180px;margin: 0 auto; "></div>
      </div>
    </div>
  </div>

  <div class="main-plot-container">
    <div class="plot-title">
      九江镇
    </div>
    <div class="plot-area">
      <div style="margin: 0 auto">

      <div #echart2 style="width: 180px;height: 180px;margin: 0 auto;"></div>
      </div>
    </div>
  </div>

  <div class="main-plot-container">
    <div class="plot-title">
      西樵镇
    </div>
    <div class="plot-area">
      <div style="margin: 0 auto">

      <div #echart3 style="width: 180px;height: 180px;margin: 0 auto;"></div>
      </div>
        </div>
  </div>

  <div class="main-plot-container">
    <div class="plot-title">
      丹灶镇
    </div>
    <div class="plot-area">
      <div style="margin: 0 auto">

      <div #echart4 style="width: 180px;height: 180px;margin: 0 auto;"></div>
      </div>
    </div>
  </div>

  <div class="main-plot-container">
    <div class="plot-title">
      狮山镇
    </div>
    <div class="plot-area">
      <div style="margin: 0 auto">

      <div #echart5 style="width: 180px;height: 180px;margin: 0 auto;"></div>
      </div>
    </div>
  </div>

  <div class="main-plot-container">
    <div class="plot-title">
      大沥镇
    </div>
    <div class="plot-area">
      <div style="margin: 0 auto">

      <div #echart6 style="width: 180px;height: 180px;margin: 0 auto;"></div>
  </div>
    </div>
  </div>
  <div class="main-plot-container">
    <div class="plot-title">
      里水镇
    </div>
    <div class="plot-area">
      <div style="margin: 0 auto">

      <div #echart7 style="width: 180px;height: 180px;margin: 0 auto;"></div>
      </div>
    </div>
  </div>
</div>
</div>
